@font-face {
    font-family: 'BMHANNAPro';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

    @font-face {
        font-family: 'Cafe24Decobox';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Decobox.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-move {
    0% { background-position: 0% 50%;}
    100% { background-position: 100% 50%;}
  }
  .animate-gradient-move {
    animation: gradient-move 2s linear infinite alternate;
  }

  @import 'prism-themes/themes/prism-vsc-dark-plus.css';